body {
    color: #434455;
    font-family: "Roboto", sans-serif;
}

.logo {
    font-family: "Raleway", sans-serif;
    color:  #4d5ae5;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;

}

.link {
    font-family: "Raleway", sans-serif;
    color:  #2e2f42;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 0.02em;


    text-decoration: none;
}

.address {
    font-style: normal;
}

.web {
    color: #2e2f42;
}



.portfolio-nav {

    margin-left: 40px;
    margin-right: 40px;
}

.list {
    list-style-type: none;
    color: #434455;
    
}

link:active {
    color: #404bbf;
}

.header-text {
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: ;
}

a:active {
    text-decoration: none;
}

.header-text2 {
    color: #434455;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em
    height: 24px;
    left: 940px;
    top: 24px;
    position: absolute;
}

.header-text3 {
    color: #434455;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em
    height: 24px;
    left: 1133px;
    top: 24px;

    position: absolute;

}
